* {
    margin: 0;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: lightgrey;
}

#all-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.indivisual-content{
    background-color: white;
    aspect-ratio: 2/1;
    min-width: 20rem;
    border-radius: 1rem;
    padding: clamp(1rem, 1.5rem, 3rem);
    margin: clamp(.25rem, .5rem, 1rem);
}

.purchased-indivisual-content{
    background-color: rgb(144, 224, 120);
    aspect-ratio: 2/1;
    min-width: 20rem;
    border-radius: 1rem;
    padding: clamp(1rem, 1.5rem, 3rem);
    margin: clamp(.25rem, .5rem, 1rem);
}

.deleted-indivisual-content{
    display: none;
}
.bought-button {
    background-color: lightgreen;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: rgb(162, 1, 1);
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
}


